@import url("https://use.typekit.net/pgj6oax.css");

body{

	font-family: neue-haas-grotesk-display, sans-serif;
	padding:0px;
	margin:0px;

	/*background-color: rgb(215 215 215);*/ 

	/*overflow-x: hidden;*/
}

a:link {
  text-decoration: none;
}

h1{
	font-size: 3vw;
	color: rgb(0 150 69);
}

h2{
	font-size: 2vw;
	font-weight: lighter;
	margin:0px;

	color: rgb(150 150 150);
}


p{
	color: rgb(80 80 80);

	font-size: 1.2vw;

	line-height: 1.7vw;
}

strong{
	color: rgb(0 150 69)
}



.header{
	background-color: white;

	height:6vh;
	padding:1vw;
	padding-left:14vw;
	padding-bottom: 3vw;
	padding-top: .5vw;


	position: -webkit-sticky;
  	position: sticky;
  	top: -4vh;


	z-index:10;
}

.headerSm{
	background-color: white;


	height:3.5vh;
	padding:1vw;
	padding-left:14vw;
	padding-bottom: 1vw;
	padding-top: 0vw;

	margin-bottom:4vw;

	position: -webkit-sticky;
  	position: sticky;
  	top: 0.45vh;

	z-index:1;

	display: block;
}

.headerMobile{
	display:none;
}

.titleMobile{
display: none;

}

.title{
	position: -webkit-sticky;
	position: sticky;
	top:1vw;

}



.contact{
	padding:0px;
	margin:0px;
}




/*----HOME----*/

.projects{

display:flex;
grid-template-columns:1fr 1fr;

padding-top:0vw;

overflow-x: scroll;
overflow-y:hidden;
}

.projects::-webkit-scrollbar {
    display: none;
}

.project {
  padding: 0px;


  transition: transform .5s;
 }

.project img {
	max-height:45.7vh;
}



.projectsGD{

display:flex;
grid-template-columns:1fr 1fr;

padding-top:0vw;

/*padding-left: 14vw;*/

overflow-x: scroll;
overflow-y:hidden;
}

.projectsGD::-webkit-scrollbar {
    display: none;
}





.projectsGDM{

display:flex;
grid-template-columns:1fr 1fr;

padding-top:0vw;

/*padding-left: 10vw;*/

overflow-x: scroll;
overflow-y:hidden;
}

.projectsGDM::-webkit-scrollbar {
    display: none;
}









.projectMap {
  padding-left:3vw;
  padding-right:3vw; 


  transition: transform .5s;
 }

.projectMap img {
	max-height:73vh;
}




.projectsX{

display:flex;
grid-template-columns:1fr 1fr;

padding-top:0vw;

/*padding-left:20vw;*/

overflow-x: scroll;
overflow-y:hidden;
}

.projectsXMobile{
	display: none;
}

.projectsX::-webkit-scrollbar {
    display: none;
}

.projectX {
  padding: 0px;
 }

.projectX img {
	max-width:18vw;
}

.projectX2 {
  padding-left: 3vw;
  padding-right:3vw;
 }

.projectX2 img {
	max-width:12vw;
}




















.wholeSec{

display: inline-block;

/*background-color: blue;*/
}







/*----------IMAGES GRID------------*/

.images-grid{
		width: 100%;
        text-align: center;
}

.images-grid-mobile{
		display: none;	
}

#inner-div {
        display: inline-block;
        margin: 3vw; /*MAKE THIS 1 AND THE WIDTH 30 FOR LARGER MAPS*/

        margin-top: 0vw;
        margin-bottom: 0vw;
      }

      #inner-div img{
        display: inline-block;
        width:20vw;
      }



/*#inner-divGD:hover {
  transform: scale(1.3);

  transition: transform .5s;
}*/


#inner-divGD {
        display: inline-block;
        margin: auto; /*MAKE THIS 1 AND THE WIDTH 30 FOR LARGER MAPS*/

        margin-top: 0vw;
        margin-bottom: 0vw;

        width:18vw;
        height: 20vw;
      }

      #inner-divGD img{
        display: inline-block;
        width:18vw;
      }

#inner-divGDM {
        display: inline-block;
        margin: auto; /*MAKE THIS 1 AND THE WIDTH 30 FOR LARGER MAPS*/

        margin-top: 0vw;
        margin-bottom: 0vw;

        width:35vw;
        height: 100%;
      }

      #inner-divGDM img{
        display: inline-block;
        width:35vw;
      }




/*#inner-divX:hover {
  transform: scale(1.3);

  transition: transform .5s;
}*/


#inner-divX {
        display: inline-block;
        margin: 3vw; /*MAKE THIS 1 AND THE WIDTH 30 FOR LARGER MAPS*/

        margin-top: 0vw;
        margin-bottom: 0vw;

        width:14vw;
        height:100%;
      }

      #inner-divX img{
        display: inline-block;
        width:14vw;
      }

     


	#inner-divMP {
        display: inline-block;
        margin: 3vw; /*MAKE THIS 1 AND THE WIDTH 30 FOR LARGER MAPS*/

        margin-top: 0vw;
        margin-bottom: 0vw;

        width:75vw;
        height: 100%;
      }

      #inner-divMP img{
        display: inline-block;
        width:75vw;
      }



      #inner-divP {
        display: inline-block;
        margin: 1vw; /*MAKE THIS 1 AND THE WIDTH 30 FOR LARGER MAPS*/

        margin-top: 0vw;
        margin-bottom: 0vw;

        width:20vw;
        height: 100%;
      }

      #inner-divP img{
        display: inline-block;
        width:20vw;
      }

      #inner-divP2 {
        display: inline-block;
        margin: 1vw; /*MAKE THIS 1 AND THE WIDTH 30 FOR LARGER MAPS*/

        margin-top: 0vw;
        margin-bottom: 0vw;

        width:15vw;
        height: 100%;
      }

      #inner-divP2 img{
        display: inline-block;
        width:15vw;
      }

      #inner-divP3 {
        display: inline-block;
        margin: 1vw; /*MAKE THIS 1 AND THE WIDTH 30 FOR LARGER MAPS*/

        margin-top: 0vw;
        margin-bottom: 0vw;

        width:22.5vw;
      }

      #inner-divP3 img{
        display: inline-block;
        width:22.5vw;
      }


#inner-divX2 {
        display: inline-block;
        margin: 2vw; /*MAKE THIS 1 AND THE WIDTH 30 FOR LARGER MAPS*/

        margin-top: 0vw;
        margin-bottom: 0vw;

        width:13vw;
        max-height:100%;
      }

      #inner-divX2 img{
        display: inline-block;
        width:13vw;
      }


#inner-divX22 {
        display: inline-block;
        margin: 2vw; /*MAKE THIS 1 AND THE WIDTH 30 FOR LARGER MAPS*/

        margin-top: 0vw;
        margin-bottom: 0vw;

        width:11vw;
        max-height:100%;
      }

      #inner-divX22 img{
        display: inline-block;
        width:11vw;
      }








/*---------SECTIONS----------*/



.sections{
/*background-color: rgb(215 215 215);*/

width:99vw;

display:flex;
flex-direction: column;

text-align: center;
}

.sectionWhole{
/*background-color: blue;*/

width:99vw;

display:flex;
flex-wrap: nowrap;

text-align: center;

padding-bottom:3vw;
}




						.sectionLeft{
							/*background-color: yellow;
							border:1px solid blue;*/

							width:30%;

							padding:9vw;
							padding-right: 4vw;
							padding-bottom: 0vw;
							padding-top:0vw;
							margin:5vw;
							margin-right:0px;
							margin-top:2vw;

							text-align: left;
						}

						.sectionRight{
							/*background-color: pink;
							border:1px solid red;*/

							width:70%;


							padding:9vw;
							padding-bottom: 0vw;
							padding-left: 4vw;
							padding-top:0vw;
							margin:5vw;
							margin-left: 0px;
							margin-top:2vw;

							text-align: left;
						}










					/* All the snapping stuff */
					.scroll-container {
					  height: 100vh;
					  overflow-y: scroll;
					  scroll-snap-type: y mandatory;
					}

					section {
					  height: 100%;
					  scroll-snap-align: center;

					  padding-top:8vh;
					  padding-bottom: 20vh;
					}


					/* Other styles */
					section {
					  background-color: white;
					}

					section:nth-child(2n) {
					  background-color: rgb(200 200 200);
					}

					section:nth-child(3n) {
					  background-color: rgb(210 210 210);
					}





















.contactMobile{
	display:none;
}

















/*----------------MOBILE VERSION---------------------*/




@media screen and (max-width: 1200px) {

					body{
						width:100vw;

					}

					p{
						color: rgb(80 80 80);

						font-size: 5.5vw;
					}

					strong{
						color: rgb(80 80 80);

						font-size: 6vw;
					}

					h1{
						font-size:10vw;
						line-height: 6vw;
						}

					h2{
						font-size: 3vh;
						font-weight: lighter;
						margin:0px;

						color: rgb(80 80 80);
					}

					h3{
						color: rgb(80 80 80);

						font-size: 5.5vw;
					}

					strong{
						color: rgb(0 150 69)
					}


					.header{
						display: none;
					}

					.headerSm{
						display: none;
					}


.headerMobile{

	background-color: white;

	width:99%;
	height:15vh;
	padding:1vw;
	padding-left:14vw;
	padding-bottom: 3vw;
	padding-top: .5vw;


	position: -webkit-sticky;
	position: sticky;
	top:0vw;


	z-index:10;
}

.project {
  padding: 0px;


  transition: transform .5s;
 }

.project img {
	max-height:38vh;
}


.projectsGD{
	display:none;
}

.projectsGDM{
	display:none;
}




.projectsXMobile{

display:flex;
grid-template-columns:1fr 1fr;

padding-top:0vw;

/*padding-left:20vw;*/

overflow-x: scroll;
overflow-y:hidden;
}

.projectsXMobile::-webkit-scrollbar {
    display: none;
}



.projectX {
  padding: 3vw;

  padding-top: 0px;
  padding-bottom: 0px;
 }

.projectX img {
	max-width:60vw;
}




.projectXsq {
  padding-left: 3vw;
  padding-right:3vw;
 }

.projectXsq img {
	max-width:90vw;
}

.projectXsq2 {
  padding-left: 3vw;
  padding-right:3vw;
 }

.projectXsq2 img {
	max-width:80vw;
}


.projectXsq3 {
  padding-left: 3vw;
  padding-right:3vw;
 }

.projectXsq3 img {
	max-width:60vw;
}


.projectXwd {
  padding-left: 3vw;
  padding-right:3vw;
 }

.projectXwd img {
	max-width:140vw;
}


.contact{
	display:none;
}









					.images-grid{
						display:none;
					}


					.images-grid-mobile{
					display:flex;
					flex-direction: column;
					width:100vw;

					text-align: center;

					overflow-x: hidden;
					}

					.images-grid-mobile img{
					display:flex;
					width:100vw;

					text-align: center;
					}


					.title{
						position: -webkit-sticky;
						position: sticky;
						top:1vw;

					}


					.sections{
						display: flex;
						flex-direction: column;

						margin:auto;

						width:100vw;
						overflow-x: hidden;

						padding:8vw;
					}

					.sectionWhole{
					/*background-color: blue;*/
					display:flex;
					flex-direction: column;

					width:99vw;
					height: 100%;
				

					

					text-align: center;
					}

					/*.container {
					  scroll-snap-type: mandatory;
					  scroll-snap-points-y: repeat(300px);
					  scroll-snap-type: y mandatory;
					}

					.child {
					  scroll-snap-align: start;
					}*/


											.sectionLeft{
												/*background-color: yellow;*/

												width:100%;

												margin:auto;
												padding:auto;
												padding-left: 0vw;


												text-align: left;
											}

											.sectionRight{
												/*background-color: pink;*/

												width:100%;
												margin:auto;
												padding:auto;
												padding-left:0vw;

												text-align: left;
											}


					}

